{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        <script>
          $(function() {
            $("#query").autocomplete({
              source: "/search_auto/",
              select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
              },
              minLength: 2,
            });
          });

          function AutoCompleteSelectHandler(event, ui)
          {
            var selectedObj = ui.item;
          }

        </script>
        <div class="single-sidebar">
            <h2 class="sidebar-title">Emlak Arama</h2>
            <form action="/search/" method="post">
                        {% csrf_token %}
                        <input id="query" name="query" type="text" placeholder="Emlak Ara...">
                        {% load mptt_tags %}

                        <select name="catid" class="input search-categories">
                            <option value="0">Bütün Kategoriler</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %} <option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ childiren }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                        <input id="places" type="submit" value="Ara">
                    </form>
        </div>
        <div class="shop-sidebar">
                <div class="single-sidebar">
                    <h3 class="sidebar-title">Kategoriler</h3>
                    {% load mptt_tags %}
                    {% recursetree category %}
                    <ul>
                        <li>
                        <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                            </ul>
                        {% endif %}
                        </li>
                    </ul>
                    {% endrecursetree %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Günün Evleri</h2>
            <hr>
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <div class="row">
                        {% for rs in dayhomes %}
                        <div style="height: 250px; width: 250px; margin: 10px;" class="single-product">
                            <div class="product-f-image">
                                <img style="height: 250px; width: 250px" src="{{ rs.image.url}}" alt="">
                                <div class="product-hover">
                                    <a href="/home/{{ rs.id }}/{{ rs.slug }}" class="view-details-link"><i class="fa fa-link"></i>Detayları gör</a>
                                </div>
                            </div>

                            <h2><a href="/home/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h2>

                            <div class="product-carousel-price">
                                <ins>{{rs.price}}</ins>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <h2>En Son Satışa Çıkan Evler</h2>
            <hr>
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <div class="row">
                        {% for rs in lasthomes %}
                        <div style="height: 250px; width: 250px; margin: 10px;" class="single-product">
                            <div class="product-f-image">
                                <img style="height: 250px; width: 250px" src="{{ rs.image.url}}" alt="">
                                <div class="product-hover">
                                    <a href="/home/{{ rs.id }}/{{ rs.slug }}" class="view-details-link"><i class="fa fa-link"></i>Detayları gör</a>
                                </div>
                            </div>

                            <h2><a href="/home/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h2>

                            <div class="product-carousel-price">
                                <ins>{{rs.price}}</ins>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <h2>Sizin İçin Önerilenler</h2>
            <hr>
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <div class="row">
                        {% for rs in randomhomes %}
                        <div style="height: 250px; width: 250px; margin: 10px;" class="single-product">
                            <div class="product-f-image">
                                <img style="height: 250px; width: 250px" src="{{ rs.image.url}}" alt="">
                                <div class="product-hover">
                                    <a href="/home/{{ rs.id }}/{{ rs.slug }}" class="view-details-link"><i class="fa fa-link"></i>Detayları gör</a>
                                </div>
                            </div>

                            <h2><a href="/home/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h2>

                            <div class="product-carousel-price">
                                <ins>{{rs.price}}</ins>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<br>
