{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Kategoriler
                </div>
            <div class="list-group">
                {% load mptt_tags %}
                {% recursetree category %}
                <li class="list-group">
                    <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a><span class="badge bg-danger float-right text-white"></span>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                           <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
            </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Günün Evleri</h2>
            <hr>
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <div class="row">
                        {% for rs in dayhomes %}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="/category/{{ rs.id }}/{{ rs.slug }}">
                                            <img style="height: 250px" class="default-img" src="{{ rs.image.url}}" alt="#">
                                            <img style="height: 250px" class="hover-img" src="{{ rs.image.url}}" alt="#">
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a title="Add to cart" href="/addtocard/{{ rs.id }}">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="/category/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h3>
                                        <div class="product-price">
                                            <span>{{rs.price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h2>En Son Satışa Çıkan Evler</h2>
            <hr>
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <div class="row">
                        {% for rs in lasthomes %}

                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="/category/{{ rs.id }}/{{ rs.slug }}">
                                            <img style="height: 250px" class="default-img" src="{{ rs.image.url}}" alt="#">
                                            <img style="height: 250px" class="hover-img" src="{{ rs.image.url}}" alt="#">
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a title="Add to cart" href="/addtocard/{{ rs.id }}">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="/category/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h3>
                                        <div class="product-price">
                                            <span>{{rs.price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h2>Sizin İçin Önerilenler</h2>
            <hr>
            <div class="tab-pane fade show active" id="man" role="tabpanel">
                <div class="tab-single">
                    <div class="row">
                        {% for rs in randomhomes %}

                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="/category/{{ rs.id }}/{{ rs.slug }}">
                                            <img style="height: 250px" class="default-img" src="{{ rs.image.url}}" alt="#">
                                            <img style="height: 250px" class="hover-img" src="{{ rs.image.url}}" alt="#">
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a title="Add to cart" href="/addtocard/{{ rs.id }}">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="/category/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h3>
                                        <div class="product-price">
                                            <span>{{rs.price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>