{% extends "homebase.html" %}

{% block title %} Sıkça Sorulan Sorular {% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>
{% endblock %}
{% block sidebar %}
    {%include "sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Sıkça Sorulan Sorular</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active"><i class="fa fa-chevron-right primary"></i>Sıkça Sorulan Sorular</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div id="accordion">
                    {% for rs in faq %}
                        <h3>{{ rs.question }}</h3>
                        <div>
                            <p>
                                {{ rs.answer | safe }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <br>
    <hr>

{% endblock %}
