{% load static %}
<footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-12">
                  <div class="footer_blog_section">
                     <img src="{% static 'imgs/logo.png' %}" alt="#" />
                     <p style="margin-top: 5px;">Okuyucunun okunabilir içeriğin dikkatini dağıtacağı uzun zamandır bilinen bir gerçektir...</p>
                  </div>
               </div>
               <div class="col-lg-2 col-md-6 col-12">
                  <div class="item">
                     <h4 class="text-uppercase">Navigasyon</h4>
                     <ul>
                        <li class="nav-item active">
                        <a class="nav-link" href="/">Anasayfa</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/hakkimizda">Hakkımızda</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/referanslar">Referanslar</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/iletisim">İletişim</a>
                     </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                  <div class="item">
                     <h4 class="text-uppercase">İletişim Bilgileri</h4>
                     <p><strong>Kurumsal Ofis Adresi:</strong></p>
                     <p><img src="{% static 'imgs/phone_icon.png' %}" alt="#" /> Karabük Üniversitesi
                        Demir-Çelik Kampüsü
                        Mühendislik Fakültesi
                        Bilgisayar Mühendisliği Bölümü
                        78050 KARABÜK</p>
                     <p><strong>Müşteri Servisi:</strong></p>
                     <p><img src="{% static 'imgs/location.png' %}" alt="#" /> +90 370 418 7050</p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-12">
                  <div class="item">
                     <h4 class="text-uppercase">Keşfet</h4>
                     <ul>
                        <li><a href="/faq">Sıkça Sorulan Sorular</a></li>
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="/referanslar">Referanslar</a></li>
                        <li><a href="/iletisim">Bizimle İletişime geç</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright text-center">
            <p>Copyright 2021  Design by <a href="https://www.linkedin.com/in/erdemaltugalaca">Erdem Altuğ Alaca</a></p>
         </div>
      </footer>
    <!-- Latest jQuery form server -->
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- jQuery sticky menu -->
    <script src="{% static "js/owl.carousel.min.js"%}"></script>
    <script src="{% static "js/jquery.sticky.js"%}"></script>

    <!-- jQuery easing -->
    <script src="{% static "js/jquery.easing.1.3.min.js"%}"></script>

    <!-- Main Script -->
    <script src="{% static "js/main.js"%}"></script>

    <!-- Slider -->
    <script type="text/javascript" src="{% static "js/bxslider.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/script.slider.js"%}"></script>
