{% extends "homebase.html" %}

{% block title %} {{ categorydata.title}} Homes {% endblock %}
{% block keywords %}{{ categorydata.keywords }}{% endblock %}
{% block description %}{{ categorydata.description }}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}
{% block sidebar %}
    {%include "sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ categorydata.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">>{{ categorydata.title}}</li>
            </ul>
        </div>
    </div>
		<!--/ End Product Style 1  -->
<div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for rs in homes %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ rs.image.url}}" alt="">
                        </div>
                        <h2><a href="/home/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h2>
                        <div class="product-carousel-price">
                            <ins>{{rs.price}}</ins>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}