<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %} Django Ev Satış Sitesi{% endblock %}</title>
      <meta name="keywords" content="{% block keywords %} Anasayfa anahtar kelimeler {% endblock %}">
      <meta name="description" content="{% block description %} Anasayfa kısa açıklama {% endblock %}">
        {% load static %}
    <link rel="icon" type="image/png" href="{% static "imgs/favicon.png"%}">
	<!-- Web Font -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/owl.carousel.css"%}">

	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="{% static "css/reset.css"%}">
    <link rel="stylesheet" href="{% static "css/responsive.css"%}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    {% include 'header.html' %}
    {% block sidebar %} {% endblock %}
    {% block slider %} {% endblock %}
    {% block content %} {% endblock %}
    {% include 'footer.html' %}
    {% block foot %}{% endblock %}
</body>
</html>