{% extends "homebase.html" %}

{% block title %} {{ home.title }}{% endblock %}
{% block keywords %}{{ home.keywords }}{% endblock %}
{% block description %}{{ home.description }}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}
{% block sidebar %}
    {%include "sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ home.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">>Ev</li>
                <li class="active"><a href="/category/{{ home.category_id }}/{{ home.category.slug }}">>{{ home.category }}</a></li>
                <li class="active">>{{ home.title }}</li>
            </ul>
        </div>
    </div>

     <!-- Start Blog Single -->
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <script>
                      $(function() {
                        $("#query").autocomplete({
                          source: "/search_auto/",
                          select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                          },
                          minLength: 2,
                        });
                      });

                      function AutoCompleteSelectHandler(event, ui)
                      {
                        var selectedObj = ui.item;
                      }

                    </script>
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Emlak Arama</h2>
                        <form action="/search/" method="post">
                                    {% csrf_token %}
                                    <input id="query" name="query" type="text" placeholder="Emlak Ara...">
                                    {% load mptt_tags %}

                                    <select name="catid" class="input search-categories">
                                        <option value="0">Bütün Kategoriler</option>
                                        {% recursetree category %}
                                            {% if node.is_leaf_node %} <option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                            {% if not node.is_leaf_node %}
                                                <optgroup label="{{ node.title }}">
                                                    {{ childiren }}
                                                </optgroup>
                                            {% endif %}
                                        {% endrecursetree %}
                                    </select>
                                    <input id="places" type="submit" value="Ara">
                                </form>
                    </div>
                    <div class="shop-sidebar">
                            <div class="single-sidebar">
                                <h3 class="sidebar-title">Kategoriler</h3>
                                {% load mptt_tags %}
                                {% recursetree category %}
                                <ul>
                                    <li>
                                    <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children">
                                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a></li>
                                        </ul>
                                    {% endif %}
                                    </li>
                                </ul>
                                {% endrecursetree %}
                            </div>
                        </div>
                    </div>

                <div class="col-md-9">
                    <div class="product-content-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{ home.image.url}}" alt="">
                                    </div>

                                    <div class="product-gallery">
                                        {% for rs in images %}
                                        <img src="{{ home.image.url}}" alt="">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 style="color: #1bd172" class="product-name">{{ home.title}}</h2>
                                    <h2 style="color: yellow" class="product-name">{{ home.price}}</h2>
                                    <table class="shopping-cart-table table">
                                        <tr>
                                            <th class="text-left">İlan Tarihi</th>
                                            <td class="text-left">{{ home.created_at}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">m²</th>
                                            <td class="text-left">{{ home.square_meters}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Oda Sayısı</th>
                                            <td class="text-left">{{ home.number_of_rooms}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Bina Yaşı</th>
                                            <td class="text-left">{{ home.building_age}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Bulunduğu Kat</th>
                                            <td class="text-left">{{ home.floor_location}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Kat Sayısı</th>
                                            <td class="text-left">{{home.number_of_floors}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Eşyalı</th>
                                            <td class="text-left">{{ home.furnished}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Kullanım Durumu</th>
                                            <td class="text-left">{{ home.using_status}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Kimen</th>
                                            <td style="color: red" class="text-left">{{ home.from_who}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Takas</th>
                                            <td class="text-left">{{ home.swap}}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews(3)</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade" id="home">
                                                <h2>Product Description</h2>
                                                <p>{{ home.detail | safe }}</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="product-reviews">
                                                            {% for rs in comment %}
                                                            <div class="single-review">
                                                                <div class="review-heading">
                                                                    <div><a href="#"><i class="fa fa-user-o"></i><b>{{ rs.user.first_name }}</b></a></div>
                                                                    <div><a href="#"><i class="fa fa-clock-o"></i>{{ rs.create_at }}</a></div>
                                                                    <div class="review-rating pull-right">
                                                                        <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                                        <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                                        <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                                        <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                                        <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                                                    </div>
                                                                </div>
                                                            <div class="review-body"><b>{{ rs.subject }}</b>
                                                                <p>{{ rs.comment }}</p>
                                                            </div>
                                                            </div><hr>
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                {%endif%}
                                                    <form class="review-form" action="/home/addcomment/{{ home.id }}" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject" />
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="input" name="comment" id="id_comment" placeholder="Your review"></textarea>
                                                        </div>

                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <strong class="text-uppercase">Your Rating:</strong>
                                                                <div class="stars">
                                                                    <input class="star star-5" id="star5" type="radio" name="rate" value="5" /> <label class="star star-5" for="star5"></label>
                                                                    <input class="star star-4" id="star4" type="radio" name="rate" value="4" /> <label class="star star-4" for="star4"></label>
                                                                    <input class="star star-3" id="star3" type="radio" name="rate" value="3" /> <label class="star star-3" for="star3"></label>
                                                                    <input class="star star-2" id="star2" type="radio" name="rate" value="2" /> <label class="star star-2" for="star2"></label>
                                                                    <input class="star star-1" id="star1" type="radio" name="rate" value="1" /> <label class="star star-1" for="star1"></label>
                                                                </div>
                                                        </div>
                                                    </div>
                                                        {% if user.id is not None %}
                                                        <button type="submit">Submit</button>
                                                        {% else %}
                                                            Yorum Eklemek için <a href="/login">Login</a> olunuz!
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <br>
                        <h2>Sizin İçin Önerilenler</h2>
                        <hr>
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    {% for rs in randomhomes %}
                                    <div style="height: 250px; width: 250px; margin: 10px;" class="single-product">
                                        <div class="product-f-image">
                                            <img style="height: 250px; width: 250px" src="{{ rs.image.url}}" alt="">
                                            <div class="product-hover">
                                                <a href="/home/{{ rs.id }}/{{ rs.slug }}" class="view-details-link"><i class="fa fa-link"></i>Detayları gör</a>
                                            </div>
                                        </div>

                                        <h2><a href="/home/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h2>

                                        <div class="product-carousel-price">
                                            <ins>{{rs.price}}</ins>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <br>
    <hr>

{% endblock %}