{% extends "homebase.html" %}

{% block title %} Giriş.{{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}
{% block sidebar %}
    {%include "sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Giriş</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">>Giriş</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="container border rounded">
                    <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="input" name="username" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="input" name="password" placeholder="Parola">
                                </div>
                        <input class="btn btn-primary" type="submit" value="giriş">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

{% endblock %}