{% load static %}
<div class="product-area most-popular">
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Emlak Sitesi</h2>
					</div>
				</div>
            </div>
        </div>
</div>
<div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
                    {% for rs in sliderdata %}
					<li>
                        <a href="/home/{{ rs.id }}/{{ rs.slug }}"><img style="height: 600px" src="{{ rs.image.url }}" alt="Slide"></a>
						<div class="caption-group">
							<h2 class="caption title">
								 <span class="primary"><strong>{{ rs.title}}</strong></span>
							</h2>
							<h4 class="caption subtitle">{{rs.price}}</h4>
							<a class="caption button-radius" href="/home/{{ rs.id }}/{{ rs.slug }}"><span class="icon"></span>Şimdi Satın Al</a>
						</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
			<!-- ./Slider -->
    </div>
<br>
<hr>
<br>