{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% block sidebar %}
    {%include "sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Emlak Güncelleme</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active"><i class="fa fa-chevron-right primary"></i>Emlak Güncelleme</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include "user_panel.html"  %}
            </div>
            <div class="col-md-10">
                <div class="section-title">
                    <h3 class="title">Emlak Bilgileri Güncelle</h3>
                </div>
                <div class="content-section">
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="container border rounded">
                            <fieldset class="form-group">
                            {{ form.media }}
                            {{ form.as_p }}
                        </fieldset>
                            <div class="form-group">
                                <button class="primary-btn" type="submit">KAYDET</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}