{% extends "homebase.html" %}

{% block title %}  {{ user.first_name }} Yorumlarınız{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}
{% block sidebar %}
    {%include "sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Yorumlarınız</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">>Yorumlarınız</li>
            </ul>
        </div>
    </div>
    <hr>
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-2">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-10">
                    <div class="section-title">
                        <h4 class="title">Yorumlarınız</h4>
                    </div>
                    <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">Başlığı</th>
                            <th class="text-left">Puanı </th>
                            <th class="text-left">Konu </th>
                            <th class="text-left">Yorum </th>
                            <th class="text-left">Durum </th>
                            <th class="text-left">Tarih </th>
                            <th class="text-left">İşlemler </th>
                        </tr>
                        {% for rs in comments %}
                            <tr>
                                <td class="text-left">
                                    <a href="/home/{{ rs.home_id }}/{{ rs.home.slug }}">
                                        <strong> {{ rs.home.title}}</strong>
                                    </a>
                                </td>
                                <td class="text-left">
                                    <div class="review-rating pull-right">
                                        <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                    </div>
                                </td>
                                <td class="text-left">{{ rs.subject}} </td>
                                <td class="text-left">{{ rs.comment}} </td>
                                <td class="text-left">{{ rs.status}} </td>
                                <td class="text-left">{{ rs.create_at}} </td>
                                <td class="text-left">
                                    <a class="primary-btn" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"> <button class="add_to_cart_button" type="submit">Sil</button> </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    <br>
    <hr>
    <br>
    <br>

{% endblock %}